:root {
   /* COLOR TOKEN */
   --color-background: #FBFBFB;
   --color-background-elevated: #EDEDED;
   --color-button-background-primary: #202020;
   --color-button-background-primary-hover: #545454;
   --color-button-text-primary: #FBFBFB;
   --color-button-background-secondary: #DEDEDE;
   --color-button-text-secondary: #202020;
   --color-divider: #DEDEDE;
   --color-text-primary: #202020;
   --color-text-secondary: #707070;
   --color-text-third: #BABABA;
   --color-focus: #202020;
   --color-primary: #202020;

   /* SPACE TOKEN */
   --space-none: 0;
   --space-xx-small: 2px;
   --space-x-small: 4px;
   --space-small: 8px;
   --space-regular: 16px;
   --space-medium: 24px;
   --space-large: 32px;
   --space-x-large: 48px;
   --space-xx-large: 64px;
   --space-xxx-large: 96px;
}

/* WINDOWS*/
html {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

*,:after,:before {
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}

body {
   height: 100vh;
   margin: 0;
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
   font-family: UncutSans-Variable, sans-serif;
   font-feature-settings: 'dlig' on, 'salt' on, 'rvrn' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss06' on, 'ss07' on, 'ss08' on;
   font-size: 18px;
   font-weight: 400;
   line-height: 26px;
   color: var(--color-text-primary);
   background: var(--color-background);
}

/* COLOR */
.color-text-secondary {
   color: var(--color-text-secondary);
}

svg {
   fill: var(--color-text-primary);
}

/* TYPOGRAPHY */
@font-face {
   font-family: UncutSans-Variable;
   src: url(../assets/fonts/UncutSans-Variable.woff2) format("woff2");
   font-style: normal;
   font-feature-settings: 'dlig' on, 'salt' on, 'rvrn' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss06' on, 'ss07' on, 'ss08' on;
   font-display: fallback;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: UncutSans-Variable, sans-serif;
}

h1, .h1 { 
   margin: 0;
   font-size: 44px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#page-categories-title {
   margin-bottom: var(--space-regular);
}

h2, .h2 {
   margin: 0;
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: 44px;
}

h3, .h3 {
   margin: var(--space-medium) 0 var(--space-regular) 0;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: 120%;
}

h4, .h4 {
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   margin-bottom: 0px;
   line-height: 26px;
   
}

p {
   line-height: 1.5;
   letter-spacing: 0px;
}

p strong, strong {
   font-family: UncutSans-Variable, sans-serif;
   font-weight: 600;
}

a {
   line-height: 1.4;
   letter-spacing: 0;
   text-decoration: underline;
   color: var(--color-text-primary);
}

a:hover {
   text-decoration: none;
}


/* BUTTON */
.btn {
   transition: all .1s ease-in-out;
   display: inline-block;
   vertical-align: middle;
   text-decoration: none;
   font-family: UncutSans-Variable, sans-serif;
   font-weight: 500;
   font-size: 18px;
   border-radius: 8px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
}

.btn-primary {
   background: var(--color-button-background-primary);
   color: var(--color-button-text-primary);
}

.btn-primary:hover {
   border-radius: 0px;
}

.btn-secondary {
   border: 2px solid;
   border-color: var(--color-text-primary);
   color: var(--color-text-primary);
}

.btn-primary:hover {
   border-radius: 0px;
}

/* VARIABLE LAYOUT */
.flex {
    display: flex;
    gap: var(--space-small);
    flex-direction: column;
}

.flex-width-1 {
    flex: 1;
}

.divider {
    width: 100%;
    max-width: calc(1240px - var(--space-large));
    height: 1px;
    margin: auto;
    background: var(--color-divider);
}


/* GENERIC */
main {
    padding-top: var(--space-large);
} 

.container {
   width: 100%;
   max-width: 1240px;
   margin: 0 auto;
   padding: var(--space-medium) var(--space-medium) var(--space-none) var(--space-medium);
}

.tags {
   display: flex;
   flex-wrap: wrap;
   gap: var(--space-small);
}

.tag {
   padding: var(--space-xx-small) var(--space-small) var(--space-xx-small) var(--space-small);
   font-family: UncutSans-Variable, sans-serif;
   font-size: 14px;
   line-height: 18px;
   list-style: none;
   color: var(--color-primary);
   background-color: var(--color-background-elevated);
   border: 1px solid var(--color-divider);
   border-radius: 4px;
}

/* NAV */
.nav-panel {
   position: fixed;
   top: 55%; 
   left: var(--space-regular);
   z-index: 1000;
   width: calc(100% - 32px);
   height: calc(45% - 16px);
   padding: var(--space-regular);
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: var(--space-medium);
   color: var(--color-text-primary);
   background: rgba(251, 251, 251, 0.85);
   backdrop-filter: blur(10px) saturate(120%);
   -webkit-backdrop-filter: blur(10px) saturate(120%);
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
   border-radius: 16px;
}

.nav-section {
   margin: 0;
}

.nav-section h3 {
   margin: var(--space-none) var(--space-none) var(--space-small) var(--space-none); 
   font-size: 16px;
   font-weight: 500;
   line-height: 22px;
   color: var(--color-text-primary);
}

.nav-section ul {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: var(--space-regular);
   list-style: none;
}

#tags-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: var(--space-regular);
   list-style: none;
}

.tag-checkbox {
   display: none; /* on cache la checkbox native */
}

.checkbox-icon {
   width: 24px;
   height: 24px;
   display: inline-block;
   background-size: cover;
   background-repeat: no-repeat;
   flex-shrink: 0;
   transition: background-image 0.2s;
   background-image: url('/assets/images/checkbox-dark.svg'); /* icône par défaut */
}

.tag-checkbox:checked + .checkbox-icon {
   background-image: url('/assets/images/checkbox-active-dark.svg'); /* icône cochée */
}

#search-input {
   width: 100%;
   height: 45px;
   padding: var(--space-small) var(--space-regular) var(--space-small) var(--space-regular);
   font-size: 18px;
   font-weight: 400;
   line-height: 1.4;
   letter-spacing: 0px;
   color: var(--color-text-primary);
   background: rgba(0, 0, 0, 0.06);
   border: none;
   border-radius: 8px;
}

#search-input::placeholder {
   color: var(--color-text-secondary);
} 

#search-input:focus {
   outline: 2px solid var(--color-text-secondary);
}

.nav-item {
   padding: var(--space-x-none) var(--space-xx-small) var(--space-x-small) var(--space-xx-small); 
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: normal;
   align-items: center;
   align-content: normal;
   gap: var(--space-small);
   font-weight: 500;
   font-size: 18px;
   font-family: UncutSans-Variable, sans-serif;
   line-height: 1.4;
   letter-spacing: 0px; 
   text-decoration: none;
   text-rendering: optimizeLegibility;
   z-index: 10;
}
.nav-item::before {
   content: '';
   width: calc(100% + 16px);
   height: 40px;
   position: absolute;
   top: -7px;
   left: -8px;
   border-radius: 8px;
   background: rgba(0, 0, 0, 0.06);
   display: none;
   z-index: -1;
}

.nav-item:hover::before {
   display: block;
}

.nav-item:hover .nav-item-value {
   color: var(--color-text-primary);
   border: 1px solid var(--color-divider-elevated);
}

.nav-item-icon-light-mode {
   display: inline;
}
.nav-item-icon-dark-mode{
   display: none;
}

#clear-filters {
   position: sticky;
   bottom: 0;
   width: 100%;
   z-index: 10;
}

.custom-svg-pin {
   background: none !important;
   border: none !important;
}

.leaflet-popup-content-wrapper {
border-radius: 8px;
}

/* HOME*/
#map {
   height: 100vh;
   width: 100%;
}

.leaflet-control-zoom {
   position: fixed !important;
   right: 0 !important;
   margin-top: var(--space-regular) !important;
   margin-right: var(--space-regular) !important;
}

/* POPUPS */
.leaflet-popup-content-wrapper {
   margin: 0 !important;
   padding: var(--space-xx-small) !important;
   color: var(--color-text-primary);
   background: rgba(251, 251, 251, 0.85) !important;
   backdrop-filter: blur(10px) saturate(120%) !important;
   -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-popup-content {
   width: 240px !important;
   color: var(--color-text-secondary);
}

.leaflet-popup-tip {
   background: rgba(251, 251, 251, 0.85) !important;
   -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
   box-shadow: none !important;
}

.leaflet-container a.leaflet-popup-close-button {
   color: var(--color-text-primary) !important;
}

.popup-content {
   max-width: 260px;
}

.popup-content h4, .leaflet-popup-content a {
   margin-bottom: var(--space-regular) !important;
   font-size: 24px !important;
   font-weight: 400 !important;
   color: var(--color-text-primary) !important;
}

.popup-content h4 a, .leaflet-popup-content a {
   color: var(--color-text-primary) !important;
}

.popup-content h4 a:hover, .leaflet-popup-content a:hover {
   text-decoration: none !important;
}

.popup-content img {
   width: 100% !important;
   height: auto;
}

.popup-content p {
   margin-bottom: var(--space-regular);
   -webkit-line-clamp: 4 !important;
   font-family: UncutSans-Variable, sans-serif;
   font-size: 14px;
   color: var(--color-text-secondary);
}

.popup-content .tags {
   color: var(--color-primary) !important;
}

/* PLACE PAGE */
a.back-link {
   margin-bottom: var(--space-large);
   display: block;
   text-decoration: none;
}

a.back-link:hover {
   text-decoration: underline;
}

.post-header {
   width: 100%;
}

.post-header-content {
   width: 100%;;
}

.post-review-comment {
   max-width: 750px;
   margin: var(--space-medium) var(--space-none) var(--space-none) var(--space-none);
   font-size: 20px;
}

.post-map-container {
   border: 1px solid var(--color-divider);
}

ul.post-list-meta {
   width: 100%;
   margin: var(--space-none) var(--space-none) var(--space-none) var(--space-none);
   padding: var(--space-regular);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: var(--space-large);
   list-style: none;
} 

ul.post-list-meta li {
   display: flex;
   gap: var(--space-small);
   color: var(--color-text-primary);
}

ul.post-list-meta li svg {
   min-width: 28px;
}

.post-content p {
   max-width: 700px;
   margin-top: var(--space-medium);
}

.place-image {
   width: 100%;
   height: auto;
   object-fit: cover;
   margin: var(--space-medium) var(--space-none) var(--space-medium) var(--space-none);
}

.place-tags {
   margin: 20px 0;
   text-align: center;
}

.travel-list-places {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 1;
  column-gap: var(--space-regular);
}

.travel-list-places li {
  break-inside: avoid;
  padding-bottom: var(--space-regular);
}

/* FOOTER */
#footer .divider {
    margin-bottom: var(--space-x-large);
}

#footer-btn {
    margin-top: var(--space-x-large);
}

.footer-about {
    margin-top: var(--space-xxx-large);
    padding: var(--space-medium) var(--space-medium) var(--space-regular) var(--space-medium);
    border: 1px solid var(--color-divider);
}

ul.footer-nav {
    padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
    list-style: none;
}

ul.footer-nav li {
    margin-bottom: var(--space-small);
}

.footer-legals {
    padding-top: var(--space-regular);
    border-top: 1px solid var(--color-divider);
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .controls {
         flex-direction: column;
         align-items: stretch;
   }

   #searchInput,
   #tagFilter {
         min-width: auto;
         width: 100%;
   }
}

@media screen and (min-width:960px) {
   /* TYPOGRAPHY */
   h1, .h1 { 
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: 120px;
   }
   
   h2, .h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 54px;
   }

   h3, .h3 {
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
   }

   /* VARIABLE LAYOUT */
   .flex {
      display: flex;
      gap: var(--space-x-large);
      flex-direction: row;
   }

   /* LAYOUT */
   .container {
      padding: var(--space-x-large);
   }

   /* NAV */
   .nav-panel {
      position: fixed;
      top: var(--space-regular); 
      left: var(--space-regular);
      max-width: 300px;
      height: calc(100% - 32px);
   }

   /* MAP */
   .travel-list-places {
      column-count: 3;
      column-gap: var(--space-regular);
   }

   /* FOOTER */
   #footer {
      padding-bottom: var(--space-x-large);
   }

   #footer .divider {
      margin-bottom: var(--space-xxx-large);
   }

   .footer-about {
      padding: var(--space-x-large) var(--space-x-large) var(--space-medium) var(--space-x-large);
      border: 1px solid var(--color-divider);
      gap: var(--space-xxx-large);
   }

   ul.footer-nav {
      padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
      list-style: none;
   }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
   :root {
      /* COLOR TOKEN */
      --color-background: #202020;
      --color-background-elevated: #343434;
      --color-button-background-primary: #FBFBFB;
      --color-button-background-primary-hover: #DEDEDE;
      --color-button-text-primary: #343434;
      --color-button-background-secondary: #DEDEDE;
      --color-button-text-secondary: #202020;
      --color-divider: #414141;
      --color-text-primary: #FBFBFB;
      --color-text-secondary: #BABABA;
      --color-text-third: #DEDEDE;
      --color-focus: #FBFBFB;
      --color-primary: #FBFBFB;
   }

   .leaflet-popup-content-wrapper {
      background: rgba(32, 32, 32, 0.85) !important;
      backdrop-filter: blur(10px) saturate(120%) !important;
      -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
   }

   .leaflet-popup-tip {
      background: rgba(32, 32, 32, 0.85) !important;
      -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
      box-shadow: none !important;
   }

   .nav-panel {
      background: rgba(32, 32, 32, 0.85);
   }

   .checkbox-icon {
      background-image: url('/assets/images/checkbox-light.svg'); /* icône par défaut */
   }

   .tag-checkbox:checked + .checkbox-icon {
      background-image: url('/assets/images/checkbox-active-light.svg'); /* icône cochée */
   }
   
   #search-input {
      background: rgba(255, 255, 255, 0.1);
   }
   .nav-item::before {
      background: rgba(255, 255, 255, 0.1);
   }

   .nav-item-icon-light-mode {
      display: none;
   }
   .nav-item-icon-dark-mode {
      display: inline;
   }
}
