:root {
   /* COLOR TOKEN */
   --color-background: #FBFBFB;
   --color-background-elevated: #EDEDED;
   --color-button-background-primary: #202020;
   --color-button-background-primary-hover: #545454;
   --color-button-text-primary: #FBFBFB;
   --color-button-background-secondary: #DEDEDE;
   --color-button-text-secondary: #202020;
   --color-divider: #DEDEDE;
   --color-text-primary: #202020;
   --color-text-secondary: #707070;
   --color-text-third: #BABABA;
   --color-focus: #202020;
   --color-primary: #202020;

   /* SPACE TOKEN */
   --space-none: 0;
   --space-xx-small: 2px;
   --space-x-small: 4px;
   --space-small: 8px;
   --space-regular: 16px;
   --space-medium: 24px;
   --space-large: 32px;
   --space-x-large: 48px;
   --space-xx-large: 64px;
   --space-xxx-large: 96px;
}

/* WINDOWS*/
html {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

*,:after,:before {
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}

body {
   height: 100vh;
   margin: 0;
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
   font-family: UncutSans-Variable, sans-serif;
   font-feature-settings: 'dlig' on, 'salt' on, 'rvrn' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss06' on, 'ss07' on, 'ss08' on;
   font-size: 18px;
   font-weight: 400;
   line-height: 26px;
   color: var(--color-text-primary);
   background: var(--color-background);
}

/* COLOR */
.color-text-secondary {
   color: var(--color-text-secondary);
}

svg {
   fill: var(--color-text-primary);
}

/* TYPOGRAPHY */
@font-face {
   font-family: UncutSans-Variable;
   src: url(../assets/fonts/UncutSans-Variable.woff2) format("woff2");
   font-style: normal;
   font-feature-settings: 'dlig' on, 'salt' on, 'rvrn' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss06' on, 'ss07' on, 'ss08' on;
   font-display: fallback;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: UncutSans-Variable, sans-serif;
}

h1, .h1 { 
   margin: 0;
   font-size: 44px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#page-categories-title {
   margin-bottom: var(--space-regular);
}

h2, .h2 {
   margin: 0;
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: 44px;
}

h3, .h3 {
   margin: var(--space-medium) 0 var(--space-regular) 0;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: 120%;
}

h4, .h4 {
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   margin-bottom: 0px;
   line-height: 26px;
   
}

p {
   line-height: 1.5;
   letter-spacing: 0px;
}

p strong, strong {
   font-family: UncutSans-Variable, sans-serif;
   font-weight: 600;
}

a {
   line-height: 1.4;
   letter-spacing: 0;
   text-decoration: underline;
   color: var(--color-text-primary);
}

a:hover {
   text-decoration: none;
}

/* BUTTON */
.btn {
   transition: all .1s ease-in-out;
   display: inline-block;
   vertical-align: middle;
   text-decoration: none;
   font-family: UncutSans-Variable, sans-serif;
   font-weight: 500;
   font-size: 18px;
   border-radius: 8px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
}

.btn-primary {
   background: var(--color-button-background-primary);
   color: var(--color-button-text-primary);
}

.btn-primary:hover {
   border-radius: 0px;
}

.btn-secondary {
   border: 2px solid;
   border-color: var(--color-text-primary);
   color: var(--color-text-primary);
}

.btn-primary:hover {
   border-radius: 0px;
}

/* VARIABLE LAYOUT */
.flex {
    display: flex;
    gap: var(--space-small);
    flex-direction: column;
}

.flex-width-1 {
    flex: 1;
}

.divider {
    width: 100%;
    max-width: calc(1240px - var(--space-large));
    height: 1px;
    margin: auto;
    background: var(--color-divider);
}


/* GENERIC */
main {
    padding-top: var(--space-large);
} 

.container {
   width: 100%;
   max-width: 1240px;
   margin: 0 auto;
   padding: var(--space-medium) var(--space-medium) var(--space-none) var(--space-medium);
}

.tags {
   display: flex;
   flex-wrap: wrap;
   gap: var(--space-small);
}

.tag {
   padding: var(--space-xx-small) var(--space-small) var(--space-xx-small) var(--space-small);
   font-family: UncutSans-Variable, sans-serif;
   font-size: 14px;
   line-height: 18px;
   list-style: none;
   background-color: var(--color-background-elevated);
   border: 1px solid var(--color-divider);
   border-radius: 4px;
}

/* HOME*/
.controls {
   width: calc(100% - 128px);
   position: fixed;
   top: 10px;
   left: var(--space-xx-large);
   right: var(--space-xx-large);
   z-index: 1000;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: flex-start;
   align-content: normal;
   gap: 16px;
}

#searchInput,
#tagFilter {
   width: 100%;
   min-width: 250px;
   max-width: 350px;
   height: 45px;
   padding: var(--space-small) var(--space-regular) var(--space-small) var(--space-regular);
   border: none;
   border-radius: 8px;
   font-family: UncutSans-Variable, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.4;
   letter-spacing: 0px;
   color: var(--color-text-primary);
   background: rgba(251, 251, 251, 0.85);
   backdrop-filter: blur(10px) saturate(120%);
   -webkit-backdrop-filter: blur(10px) saturate(120%);
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

#searchInput::placeholder {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.4;
   letter-spacing: 0px;
   color: var(--color-text-secondary);
}

#searchInput:focus {
   outline: 2px solid var(--color-primary);
}

#tagFilter {
   color: var(--color-text-primary);
   appearance: none;
   background-image: url('../assets/caret-down-dark.svg');
   background-repeat: no-repeat;
   background-position: right 10px center;
}

#tagFilter:focus {
   outline: none;
}

#resetFilters {
   background: #202020;
   color: #FBFBFB;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

#map {
   height: 100vh;
   width: 100%;
}

/* POPUPS */
.leaflet-popup-content-wrapper {
   background: rgba(251, 251, 251, 0.85) !important;
   backdrop-filter: blur(10px) saturate(120%) !important;
   -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-popup-tip {
   background: rgba(251, 251, 251, 0.85) !important;
   backdrop-filter: blur(10px) saturate(120%) !important;
   -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
}

.leaflet-container a.leaflet-popup-close-button {
   color: var(--color-text-primary) !important;
}

.popup-content {
   max-width: 250px;
}

.popup-content h3 {
   margin-bottom: var(--space-regular);
   font-size: 24px;
   color: var(--color-text-primary);
}

.popup-content h3 a {
   color: var(--color-text-primary);
}

.popup-content h3 a:hover {
   text-decoration: none;
}

.popup-content img {
   width: 100% !important;
   height: auto;
}

.popup-content p {
   margin-bottom: var(--space-regular);
   -webkit-line-clamp: 4 !important;
   font-family: UncutSans-Variable, sans-serif;
   font-size: 14px;
   color: var(--color-text-secondary);
}

.popup-content .tags {
   color: var(--color-primary) !important;
}

/* PLACE PAGE */
a.back-link {
   margin-bottom: var(--space-large);
   display: block;
   text-decoration: none;
}

a.back-link:hover {
   text-decoration: underline;
}

.post-header {
   width: 100%;
}

.post-header-content {
   width: 100%;;
}

.post-review-comment {
   max-width: 750px;
   margin: var(--space-medium) var(--space-none) var(--space-none) var(--space-none);
   font-size: 20px;
}

.post-map-container {
   border: 1px solid var(--color-divider);
}

ul.post-list-meta {
   width: 100%;
   margin: var(--space-none) var(--space-none) var(--space-none) var(--space-none);
   padding: var(--space-small);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: var(--space-regular);
   list-style: none;
   /* border-top: 1px solid var(--color-divider);
   border-left: 1px solid var(--color-divider);
   border-right: 1px solid var(--color-divider); */
} 

ul.post-list-meta li {
   display: flex;
   align-content: center;
   gap: var(--space-small);
   color: var(--color-text-primary);
}

.post-content p {
   max-width: 700px;
   margin-top: var(--space-medium);
}

.place-image {
   width: 100%;
   height: auto;
   object-fit: cover;
   margin: var(--space-medium) var(--space-none) var(--space-medium) var(--space-none);
}

.place-tags {
   margin: 20px 0;
   text-align: center;
}

/* FOOTER */
#footer .divider {
    margin-bottom: var(--space-x-large);
}

#footer-btn {
    margin-top: var(--space-x-large);
}

.footer-about {
    margin-top: var(--space-xxx-large);
    padding: var(--space-medium) var(--space-medium) var(--space-regular) var(--space-medium);
    border: 1px solid var(--color-divider);
}

ul.footer-nav {
    padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
    list-style: none;
}

ul.footer-nav li {
    margin-bottom: var(--space-small);
}

.footer-legals {
    padding-top: var(--space-regular);
    border-top: 1px solid var(--color-divider);
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .controls {
         flex-direction: column;
         align-items: stretch;
   }

   #searchInput,
   #tagFilter {
         min-width: auto;
         width: 100%;
   }
}

@media screen and (min-width:960px) {
   /* TYPOGRAPHY */
   h1, .h1 { 
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: 120px;
   }
   
   h2, .h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 54px;
   }

   h3, .h3 {
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
   }

   /* VARIABLE LAYOUT */
   .flex {
      display: flex;
      gap: var(--space-x-large);
      flex-direction: row;
   }

   /* LAYOUT */
   .container {
      padding: var(--space-x-large);
   }

   /* FOOTER */
    #footer {
        padding-bottom: var(--space-x-large);
    }

    #footer .divider {
        margin-bottom: var(--space-xxx-large);
    }

    .footer-about {
        padding: var(--space-x-large) var(--space-x-large) var(--space-medium) var(--space-x-large);
        border: 1px solid var(--color-divider);
        gap: var(--space-xxx-large);
    }

    ul.footer-nav {
        padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
        list-style: none;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
   :root {
      /* COLOR TOKEN */
      --color-background: #202020;
      --color-background-elevated: #343434;
      --color-button-background-primary: #FBFBFB;
      --color-button-background-primary-hover: #DEDEDE;
      --color-button-text-primary: #343434;
      --color-button-background-secondary: #DEDEDE;
      --color-button-text-secondary: #202020;
      --color-divider: #414141;
      --color-text-primary: #FBFBFB;
      --color-text-secondary: #BABABA;
      --color-text-third: #DEDEDE;
      --color-focus: #FBFBFB;
      --color-primary: #FBFBFB;
   }

   #searchInput,
   #tagFilter {
      background: rgba(32, 32, 32, 0.85);
   }

   #tagFilter {
      color: var(--color-text-primary);
      appearance: none;
      background-image: url('../assets/caret-down-light.svg');
      background-repeat: no-repeat;
      background-position: right 10px center;
   }

   .leaflet-popup-content-wrapper {
      background: rgba(32, 32, 32, 0.85) !important;
      backdrop-filter: blur(10px) saturate(120%) !important;
      -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
   }

   .leaflet-popup-tip {
      background: rgba(32, 32, 32, 0.85) !important;
      backdrop-filter: blur(10px) saturate(120%) !important;
      -webkit-backdrop-filter: blur(10px) saturate(120%) !important;
   }
}