---
layout: default
title: Voyages
icon-light: icon-travels-dark.svg
icon-dark: icon-travels-light.svg
---
{% include nav-desktop.html %}
{% include nav-mobile.html %}

<main>
   <section class="container flex post-header">
      <div class="post-header-content">
         <h1>{{ page.title }}</h1>
         <p class="post-review-comment">Explorez mes voyages à travers leurs lieux associés.</p>
      </div>
   </section>

   <section class="container">
      <ul class="grid-3">
      {% for voyage in site.voyages %}
      {% assign lieux_count = voyage.places | size %}
         <li>
            <a class="travel-card" href="{{ voyage.url | relative_url }}">
               <div class="travel-card-img lazy-bg" data-bg="{{ voyage.image }}">
                  <div class="travel-card-icon">
                  {% if voyage.icon-light and voyage.icon-dark %}
                  <img src="{{ '/assets/images/' | append: voyage.icon-light }}" alt="{{ voyage.title }} icon" class="nav-item-icon nav-item-icon-light-mode" loading="lazy">
                  <img src="{{ '/assets/images/' | append: voyage.icon-dark }}" alt="{{ voyage.title }} icon" class="nav-item-icon nav-item-icon-dark-mode" loading="lazy">
                  {% endif %}
                  </div>
               </div>
               <div class="travel-card-text">
                  <span class="grid-item-label">{{ voyage.title }}</span>
                  <span class="grid-item-description">{{ lieux_count }} lieu{% if lieux_count > 1 %}x{% endif %}</span>
               </div>
            </a>
         </li>
         {% endfor %}
      </ul>
   </section>
</main>

{% include footer.html %}