---
layout: default
title: Voyages
icon-light: icon-travels-dark.svg
icon-dark: icon-travels-light.svg
---
{% include nav-desktop.html %}
{% include nav-mobile.html %}

<main>
   <section class="container flex post-header">
      <div class="post-header-content">
         <h1>{{ page.title }}</h1>
         <p class="post-review-comment">Explorez mes voyages à travers leurs lieux associés.</p>
      </div>
   </section>

   <section class="container">
      <ul class="grid-3">
      {% for voyage in site.voyages %}
      {% assign lieux_count = voyage.places | size %}
         <li>
            <a class="grid-item" href="{{ voyage.url | relative_url }}">
               {% if voyage.icon-light and voyage.icon-dark %}
               <img src="{{ '/assets/images/' | append: voyage.icon-light }}" alt="{{ voyage.title }} icon" class="nav-item-icon nav-item-icon-light-mode">
               <img src="{{ '/assets/images/' | append: voyage.icon-dark }}" alt="{{ voyage.title }} icon" class="nav-item-icon nav-item-icon-dark-mode">
               {% endif %}
               <div>
                  <span class="grid-item-label">{{ voyage.title }}</span>
                  <span class="grid-item-description">{{ lieux_count }} lieu{% if lieux_count > 1 %}x{% endif %}</span>
               </div>
               <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.293 5.79302C14.6835 5.40249 15.3165 5.40249 15.707 5.79302L19.707 9.79302C20.0975 10.1835 20.0975 10.8166 19.707 11.2071L15.707 15.2071C15.3165 15.5976 14.6835 15.5976 14.293 15.2071C13.9024 14.8166 13.9024 14.1835 14.293 13.793L17.5859 10.5L14.293 7.20708C13.9024 6.81655 13.9024 6.18354 14.293 5.79302Z" fill=""/></svg>
            </a>
         </li>
         {% endfor %}
      </ul>
   </section>
</main>

{% include footer.html %}