    <footer id="footer" class="container">
        <div class="divider"></div>
        <section>
            <span class="h2">Une remarque ?<br>Un simple bonjour ?</span>
            <h2 class="color-text-secondary">Contact</h2>

            <button id="footer-btn" class="btn btn-primary" onclick="mailTo()">Envoyer un message</button>
        </section>
        
        <section class="footer-about">
            <section class="flex">
                  <div class="flex-width-1">
                     <h4>Timothée Julien</h4>
                     <p>Product designer (UX/UI) indépendant, évoluant à Paris.</p>
                     <ul class="footer-nav">
                        <li><a href="https://timotheejulien.fr" target="_blank">Portfolio</a>
                        <li><a href="https://timotheejulien.fr/blog" target="_blank">Blog</a>
                        <li><a href="https://bloc-notes.timotheejulien.fr" target="_blank">Bloc-notes (veille)</a></li>
                        <li><a href="https://lieux.timotheejulien.fr" target="_blank">Lieux</a></li>
                     </ul>
                  </div>
                  <div class="flex-width-1">
                        <h4>À propos de ce projet</h4>
                        <p>Il s'agit d'un projet open-source. Si vous souhaitez me faire part d'une erreur ou suggérer une amélioration, ce projet est disponible sur <a href="https://github.com/timotheejulien/lieux/" target="_blank">Github</a>.</p>
                  </div>
                  <div class="flex-width-1">
                     <h4>Mes réseaux</h4>
                     <ul class="footer-nav">
                        <li><a href="https://signal.me/#eu/YdauWLl23RV8Aqjkp6jgr7u-hcWB2dPTHfaZNITV6FCIa2ioQYxAdIjgxgEHd5d0" target="_blank">Signal</a>
                        <li><a href="https://www.linkedin.com/in/timotheejulien/" target="_blank">Linkedin</a></li>
                        <li><a href="https://mastodon.design/@timothee" target="_blank" rel="me">Mastodon</a></li>
                     </ul>
                </div>
            </section>
        
            <section class="footer-legals">
                <p>© 2024 Timothée ・ <a href="https://timotheejulien.fr/credits">Crédits</a> ・ <a href="https://timotheejulien.fr/politique-de-confidentialite">Politique de confidentialité</a> ・ <a href="https://timotheejulien.fr/mentions-legales">Mentions légales</a></p>
            </section>
        </section>

    </footer>
</body>
</html>